<div class="uk-section-primary uk-preserve-color tm-section-texture">

  <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 200">

    <nav class="uk-navbar-container">
      <div class="uk-container uk-container-expand">
        <div uk-navbar>
          <div class="uk-navbar-left"><a href="#" class="uk-navbar-item uk-logo logo"><svg width="28" height="34"
                viewBox="0 0 28 34" xmlns="http://www.w3.org/2000/svg" class="uk-margin-small-right uk-svg">
                <polygon fill="#fff" points="19.1,4.1 13.75,1 8.17,4.45 13.6,7.44 "></polygon>
                <path fill="#fff" d="M21.67,5.43l-5.53,3.34l6.26,3.63v9.52l-8.44,4.76L5.6,21.93v-7.38L0,11.7v13.51l13.75,8.08L28,25.21V9.07 L21.67,5.43z"></path>
              </svg> Forex Signal
            </a>
          </div>
          <div class="uk-navbar-right uk-visible@m">
            <ul class="uk-navbar-nav">
              <li class="uk-active"><a href="#"><i class="fas fa-home uk-margin-small-right"></i> Home</a></li>
              <li><a href="#"><i class="fas fa-dollar-sign uk-margin-small-right"></i> Pricing</a></li>
              <li><a href="#"><i class="fas fa-address-book uk-margin-small-right"></i> Contact</a></li>
              <li><a href="#"><i class="fas fa-info-circle uk-margin-small-right"></i> About</a></li>
              <li><a href="#modal-full" uk-toggle><i class="fas fa-sign-in-alt uk-margin-small-right"></i> Login</a></li>
            </ul>
          </div>
          <div class="uk-navbar-right uk-hidden@m">
            <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#"></a>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="uk-section uk-light">
    <div class="uk-container uk-container-expand" uk-height-viewport="expand: true">


    </div>
  </div>
</div>

<div id="modal-full" class="uk-modal-full" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
    <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
      <div class="uk-background-cover" style="background-image: url('https://images.unsplash.com/photo-1534670007418-fbb7f6cf32c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');"
        uk-height-viewport></div>
      <div class="uk-padding-large">
        <div class="uk-flex uk-flex-center">
          <div class="uk-flex uk-flex-column">
            <div class="center">
              <h1>Login</h1>
            </div>
            <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with"
              data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
